<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mo.com.sleeplessmind.AlfredBrook</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>141AE334-7E08-4DBE-B44E-ACE3FFA06193</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>475F40BA-CAAF-4AB6-960E-EFF8379E13FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>49993474-8EDE-4840-A144-A00A02A7F2F6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>661B2258-0E04-428F-8393-E8EBF6A096C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>661B2258-0E04-428F-8393-E8EBF6A096C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EE8D950-821D-49FA-9FD5-7B94DD45056F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A223DE44-0855-4BF8-8A0E-021475E7FFF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>141AE334-7E08-4DBE-B44E-ACE3FFA06193</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E47DEAC3-EE2F-47E5-B4A3-88E7333E5EB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A223DE44-0855-4BF8-8A0E-021475E7FFF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guillaume Leclerc</string>
	<key>description</key>
	<string>connect to your Brook VPN easily</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Brook VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E47DEAC3-EE2F-47E5-B4A3-88E7333E5EB5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://apps.apple.com/us/app/brook-network-tool/id1216002642</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>475F40BA-CAAF-4AB6-960E-EFF8379E13FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:workflow_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>zsh resources/scripts/list.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>connect to your Brook server...</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A223DE44-0855-4BF8-8A0E-021475E7FFF9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>download</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>49993474-8EDE-4840-A144-A00A02A7F2F6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>141AE334-7E08-4DBE-B44E-ACE3FFA06193</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Brook</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1EE8D950-821D-49FA-9FD5-7B94DD45056F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>zsh resources/scripts/toggle.sh {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>661B2258-0E04-428F-8393-E8EBF6A096C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># WHAT IS THIS

it helps you quickly connect to your Brook VPN server.

# WHAT DO I NEED

well obviously you need a Brook VPN Configuration installed on your machine. this is done by the Brook macOS app. if you don't have a Brook VPN Configuration the Workflow can send you into space to download Brook.

# HOW DOES IT WORK

type `bk` in Alfred and enjoy your life.

![install](resources/images/no.png)

![connect](resources/images/connect.png)

![disconnect](resources/images/disconnect.png)

# I NEED MORE INFORMATION!

then head to the [GitHub repo](https://github.com/godbout/AlfredBrook)!</string>
	<key>uidata</key>
	<dict>
		<key>141AE334-7E08-4DBE-B44E-ACE3FFA06193</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>1EE8D950-821D-49FA-9FD5-7B94DD45056F</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>475F40BA-CAAF-4AB6-960E-EFF8379E13FB</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>661B2258-0E04-428F-8393-E8EBF6A096C5</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>A223DE44-0855-4BF8-8A0E-021475E7FFF9</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>E47DEAC3-EE2F-47E5-B4A3-88E7333E5EB5</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bk</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Workflow Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>workflow_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/godbout/AlfredBrook</string>
</dict>
</plist>
